@media only screen and (min-width: 38rem) {

  header,
  main,
  nav,
  footer {
    max-width: 56.25rem;
    margin: 0 auto;
  }

  header {
    grid-template-columns: 1.5rem auto;
  }

  .hamburger {
    display: none;
  }

  .navigation {
    display: block;
    border-bottom: 1px solid #eee;
  }

  .navigation ul {
    display: flex;
  }

  .navigation a {
    border: none;
  }
}