* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Merriweather Sans", sans-serif;
  cursor: default;
}

h1 {
  font-family: "Roboto Slab", serif;
}

header {
  display: grid;
  grid-template-columns: 2.5rem auto 1.875rem;
  background-color: #D9C8A1;
  color: #8B2E2B;
  gap: .5rem;
  padding: .5rem .5rem;
  align-items: end;
}

header img {
  display: block;
  width: 2.5rem;
  padding-bottom: .3125rem;
  cursor: pointer;
}

header span {
  font-size: 1.2rem;
  font-weight: 500;
}

.ham-btn {
  background: none;
  border: none;
  color: #8B2E2B;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-self: center;
}

.ham-btn::after {
  content: "\2630";
  font-size: 2rem;
}

.ham-btn.show::after {
  content: "\00D7";
}

.nav-bar a {
  text-decoration: none;
  color: #8B2E2B;
  font-weight: 500;
  transition: font-weight 0.3s ease-in-out;
}

ul {
  list-style: none;
}

.nav-bar {
  display: none;
}

.nav-bar.show {
  display: block;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  width: 100%;
}

.nav-bar li {
  font-size: 1.1rem;
  padding-bottom: .5rem;
}

h1 {
  background-color: #2F2F2F;
  color: #D9C8A1;
  padding: 1rem;
}

/* #members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
  padding: 1rem;
  background-color: #8B2E2B;
} */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
  padding: 1rem;
  background-color: #8B2E2B;
}

section {
  padding: 1rem;
  background-color: #D9C8A1;
  color: #2F2F2F;
  font-size: 0.8rem;
}

section h2 {
  text-align: center;
  padding: .5rem 0;
}

section p {
  line-height: 1.2rem;
  padding: .2rem 0;
}

address {
  line-height: 1.2rem;
  padding: .2rem 0;
}

section a {
  line-height: 1.2rem;
  padding: .2rem 0;
  text-decoration: none;
  color: #8B2E2B;
}

section img {
  display: flex;
  margin: auto;
  width: 20%;
  padding: .2rem;
}

.description {
  font-size: 1rem;
  line-height: 1.4rem;
}

footer {
  background-color: #2F2F2F;
  color: #D9C8A1;
  justify-items: center;
  padding: 1.2rem 0;
}

footer p {
  padding: .2rem;
}

.menu {
  display: none;
}