@media only screen and (min-width: 38rem) {
  header {
    grid-template-columns: 2.5rem auto auto;
    align-items: center;
  }

  .menu {
    display: flex;
    background-color: #8B2E2B;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
  }

  #grid,
  #list {
    background-color: #2F2F2F;
    border: none;
    color: #D9C8A1;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .nav-bar {
    display: block;
  }

  .nav-bar ul {
    display: flex;
    justify-content: end;
  }

  .nav-bar li {
    padding: .8rem 1.5rem;
  }

  .nav-bar li:hover {
    cursor: pointer;
  }

  .nav-bar a:hover {
    font-weight: 800;
  }

  .ham-btn {
    display: none;
  }

  .hero-img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    padding: 0;
  }

  .hero button {
    width: 18rem;
    height: 6rem;
  }

  .list {
    display: flex;
    flex-direction: column;
  }

  .list section {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 2fr 2fr 0.5fr;
    margin: 0;
    padding: 0.25rem;
  }

  .list section>* {
    margin: 0 1rem;
  }

  .list section img {
    display: none;
  }

  .list section h3 {
    font-size: 1rem;
  }

  .list section:nth-child(even) {
    background-color: #bbb;
  }

  .list section .description {
    font-size: 0.8rem;
  }

  .second {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
  }

  .second h1 {
    grid-column: 1 / 4;
    font-size: 2rem;
  }

  .spotlights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
  }
}