* {
  margin: 0;
  padding: 0;
  font-family: "Nunito";
  box-sizing: border-box;
  cursor: default;
}

header {
  display: grid;
  grid-template-columns: 1.5rem auto 2.75rem;
  padding: .75rem;
  align-items: end;
  column-gap: .5rem;
  background-color: #121d1b;
}

header img {
  display: block;
  width: 1.5rem;
  height: auto;
  padding-bottom: .25rem;
}

header span {
  color: #00bfa5;
  font-weight: 500;
  font-size: 1.5rem;
}

.hamburger {
  background: none;
  border: none;
  color: #00bfa5;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-self: center;
  align-self: center;
  font-size: 1.4rem;
}

.hamburger::after {
  content: "\2630";
  color: #00bfa5;
}

.hamburger.show::after {
  content: "\00D7";
  color: #00bfa5;
}

.navigation {
  display: none;
}

.navigation.show {
  display: block;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation a {
  display: block;
  padding: .8rem .625rem;
  color: #121d1b;
  text-decoration: none;
  background-color: #f5f7f6;
  font-weight: 500;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation a:hover {
  background-color: #00bfa5;
  cursor: pointer;
  color: #f5f7f6;
}

h1 {
  color: #121d1b;
  padding: 1rem;
  padding-bottom: 0;
}

section {
  margin: 1rem;
  background-color: #f5f7f6;
}

section h2 {
  display: flex;
  background-color: #121d1b;
  color: #f5f7f6;
  padding: .5rem;
  font-size: 1.5rem;
  justify-content: center;
}

section p {
  padding: 1rem;
  line-height: 1.5;
  color: #121d1b;
}

.photo {
  background-color: #f5f7f6;
}

.photo img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 3.125rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: .5rem;
}

.projects button {
  background-color: #121d1b;
  border: none;
  padding: .5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  color: #00bfa5;
}

.projects button:hover {
  background-color: #00bfa5;
  color: #f5f7f6;
}

.projects ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.projects ul li {
  display: flex;
  justify-content: center;
  padding: .5rem;
  border-radius: .25rem;
  margin-bottom: .5rem;
  background-color: #f5f7f6;
  color: #121d1b;
}

.projects p {
  padding: 0.5rem;
  text-align: center;
  color: #121d1b;
  font-weight: 500;
}

footer {
  background-color: #121d1b;
  padding: 1rem .625rem;
  text-align: center;
  color: #f5f7f6;
}

footer div {
  display: flex;
  justify-content: center;
  column-gap: .5rem;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 2.75rem;
  min-height: 2.75rem;
}

footer img {
  width: 1.375rem;
  height: 1.375rem;
}

footer a:hover {
  background-color: #000;
  border-radius: 50%;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

footer p {
  font-weight: 400;
  line-height: 2rem;
}

::-webkit-scrollbar {
  display: none;
}

