@media only screen and (min-width: 38rem) {

  header,
  nav,
  main {
    max-width: 75rem;
    margin: 0 auto;
  }

  header {
    grid-template-columns: 1.5rem auto;
  }

  .hamburger {
    display: none;
  }

  .navigation {
    display: block;
    border-bottom: 1px solid #121d1b;
    background-color: #f5f7f6;
  }

  .navigation ul {
    display: flex;
    column-gap: 2rem;
  }

  .navigation a {
    border: none;
    background-color: transparent;
  }

  .navigation a:hover {
    background-color: #00bfa5;
  }

  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
  }

  section {
    padding: 0;
    margin: 0;
  }

  h1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .about {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 0 0.5rem 1rem 0;
  }

  .photo {
    grid-column: 2 / 3;
    text-align: center;
    grid-row: 2 / 3;
    margin: 0 0 1rem 0.5rem;
  }

  .projects {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    margin: 0 0 1rem 0;
  }

  .buttons {
    display: flex;
    justify-content: center;
    column-gap: 0.5rem;
  }

  .projects button {
    width: 100%;
  }

  .projects ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  .projects ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: #5cc08e;
    border-radius: 0.25rem;
    margin: 0.5rem;
  }
}